body {
    font-family: 'Arial', sans-serif;
    background-image: url("https://wallpapers.com/images/hd/light-colorful-background-lgw7ddo058vsb30p.jpg");
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    
  }
  
  .Btn {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 45rem;
    gap: 10rem;
    border-radius: 80px;
    margin-left: 28rem;
    overflow: hidden;
    background-color: #fff;
    margin-bottom:12rem ;
  }
  .Btn1{
  display: flex;
  margin-bottom: 15rem;
  }
  
  
  .container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 80%;
    max-width: 400px;
  }
  
  h2 {
    text-align: center;
    color: #2b2b2b; /* Dark gray text color */
    margin-top: 70px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 8px;
    color: rgb(14, 193, 178); /* Red text color for labels */
  }
  
  input {
    margin-bottom: 40px;
    border: 1px solid #ccc;
    font-size: 20px;
    height: 3rem;
    width: 20rem;
    padding: 10px;
    border-radius: 10px;
    
  }
  .Login1{
    margin-top: 30px;
   
  }
  
  .Login {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(227,133,168,0) 35%, rgba(0,212,255,1) 100%);
    color: #fff;
    padding: 14px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    height: 3rem;
    width: 20rem;
    border-radius: 100px;
  }
  
  .Login:hover {
    background-color: #45a049;
  }
  
  .forgot-password-link {
    color: #007bff;
    cursor: pointer;
    text-align: center;
    float: right;
    margin-bottom: 3rem;
  }
  
  .forgot-password-link:hover {
    text-decoration: underline;
  }
  