
.Btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17%;
    border: 1px solid black;
    height: 250px;
    width: 60rem;
    border-radius: 100px;
    float: right;
    margin-right: 25rem;
    gap: 2rem;
    
}
h4{
    /* margin: 20px ; */
    margin-top:12rem;
    float: left;
}